.customColorHead{
    background-color: #69c082!important;
}
.customColorTitle{
    color: white!important;
}
.customColorLogged{
    color: white!important;
}
.customSearchColor{
    background-color: #69c082!important;
    border-color: #69c082!important;

}
.customColorTourist{
    color:#69c082!important;
    font-weight: bold;
}
.customColorFav{
    color:#69c082!important;
}
.customColorFavBtn{
    border-color: orange!important;

}
