<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home</title>

  {% load static %}
  

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  
  <link href="{% static 'gis/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


  <!-- Custom styles for this template-->
  <link href="{% static 'gis/css/sb-admin-2.min.css' %}" rel="stylesheet" />

  
  <link href="{% static 'gis/detail.css' %}" rel="stylesheet" />
  
  <link href="{% static 'gis/extraCss.css' %}" rel="stylesheet" />


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow customColorHead">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <h1 class="m-0 font-weight-bold text-primary customColorTitle" style="font-family:Lobster ;">NFA Eco tours</h1>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary customSearchColor" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            

            <!-- Nav Item - Messages -->
            
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small customColorLogged">Logged in as {{email}}</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                
                <a class="dropdown-item" href="{% url 'gis:favourites' id %}">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  favourite places
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'gis:logout' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 customColorTourist" style="font-size: 20px;">Major forest reserves in Uganda</h1>
            <a href="{% url 'gis:touristAttractions' %}"><button type="button" class="btn btn-primary btn-sm greenBtn">View on Map</button></a>
            
          </div>

          
          

          <!-- Content Row -->
          

            

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            

            <!-- Pie Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                
                <!-- Card Body -->
                <div class="card-body" id="forestsMain">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 reserveName">
                            {{reserve.name}}
                        </div>
                    </div>
                    {% if photos %}
                    <div class="row reserveRow">
                        <div class="col-xl-12 col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="headAttr">Photos</span><br>
                                </div>
                            </div>
                            
                            <div class="row">
                                {% for img in photos %}
                                    <div class="col-lg-3">
                                    <img id="imgPlace" src="{{img}}" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        
                        
                    </div>
                    {% endif %}


                    {% if reserve.contactInfo %}
                    <div class="row reserveRow">
                        <div class="col-xl-12 col-lg-12">
                        <span class="headAttr"> Contact Information</span><br>
                            {{reserve.contactInfo}}
                        </div>
                    </div>
                    {% endif %}

                    {% if reserve.areaCoverage %}
                    <div class="row reserveRow">
                        <div class="col-xl-12 col-lg-12">
                        <span class="headAttr"> Area Coverage</span><br>
                            {{reserve.areaCoverage}}
                        </div>
                    </div>
                    {% endif %}

                    {% if reserve.attractions %}
                    <div class="row reserveRow">
                        <div class="col-xl-12 col-lg-12">
                        <span class="headAttr"> Attractions</span><br>
                            {{reserve.attractions}}
                        </div>
                    </div>
                    {% endif %}

                    {% if reserve.accomodation %}
                    <div class="row reserveRow">
                        <div class="col-xl-12 col-lg-12">
                        <span class="headAttr">Accomodation</span><br>
                            {{reserve.accomodation}}
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if reserve.accessibility %}
                    <div class="row reserveRow">
                        <div class="col-xl-12 col-lg-12">
                        <span class="headAttr">Accessibility</span><br>
                            {{reserve.accessibility}}
                        </div>
                    </div>
                    {% endif %}

                    {% if reserve.activities %}
                    <div class="row reserveRow">
                        <div class="col-xl-12 col-lg-12">
                        <span class="headAttr">Activities</span><br>
                            {{reserve.activities}}
                        </div>
                    </div>
                    {% endif %}
                   
                  
                <button id="urlAllForests" value = '{% url 'gis:allForests' %}' style="display: none;"></button>
                  
                  
                </div>
              </div>
            </div>
          </div>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'gis/vendor/jquery/jquery.min.js' %}"></script>

  <script src="{% static 'gis/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'gis/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'gis/js/sb-admin-2.min.js' %}"></script>
  <!-- Page level plugins -->
  
  <!-- Page level custom scripts -->
  
  

 

</body>

</html>
